body
    // font-family var(--font-family-Architects-Daughter), "Architects Daughter"
    font-family "Architects Daughter"
    font-family 'Noto Sans TC', sans-serif
    margin 0
    padding 0
    -webkit-user-select none
#background
    width 100vw
    height 100vh
    position fixed
    z-index -1
    background url(https://images.pexels.com/photos/1571442/pexels-photo-1571442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
tbody
    background rgba(255,255,255,0.3)x
    font-size 24px
    color black
    text-shadow -2px 0 white, 0 2px white,
        2px 0 white, 0 -2px white
h1
    font-size 100px
    text-shadow 2px 2px white, -2px -2px #444
    color #666666
#list input.form-control:focus
    border-color #C4E1FF
    box-shadow 0 0 10px #C4E1FF, 0 0 10px #C4E1FF
#list .btn
    width 150px

h2
    font-size 60px
    color	#FF0000
    

@media(max-width:992px)
        h1
            font-size 50px
        
        #background
            width  auto
        
        .btn
            color white
            text-shadow 0 0 10px black
        
        tbody
            font-size 16px

        audio
            width: 210px
        #list .btn
            width 80px
        h2  
            font-size 40px
            text-shadow 0 0 10px white
